{% load static %}
<footer class="main-footer style-three" style="background-image:url({% static 'images/background/pattern-11.png' %})">
    <div class="auto-container">
       <!-- Widgets Section -->
       <div class="widgets-section">
          <div class="row clearfix">
             <!-- Big Column -->
             <div class="big-column col-lg-6 col-md-12 col-sm-12">
                <div class="row clearfix">
                   <!-- Footer Column -->
                   <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                      <div class="footer-widget logo-widget">
                         <div class="logo">
                            <a href="index.html"><img src="{{setting.logo.url}}" width = "100px" alt="" /></a>
                         </div>
                         <div class="text">{{setting.descriptions}}</div>
                         <a href="{% url 'about' %}" class="theme-btn about-btn">О нас</a>
                      </div>
                   </div>
                   <!-- Footer Column -->
                   <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                      <div class="footer-widget newsletter-widget">
                         <h4>Наши социальные сети:</h4>
                         
                         <!-- Social Box -->
                         <ul class="social-box">
                           {% if setting.facebook %}
                            <li><a href="{{setting.facebook}}" class="fa-brands fa-facebook-f fa-fw"></a></li>
                            {% endif%}
                            {% if setting.instagram%}
                            <li><a href="{{setting.instagram}}" class="fa-brands fa-instagram fa-fw"></a></li>
                            {% endif %}
                           {% if setting.whatsapp%}
                            <li><a href="{{setting.whatsapp}}" class="fa-solid fa-whatsapp fa-fw"></a></li>
                            {% endif %}
                            {% if setting.youtube%}
                            <li><a href="{{setting.youtube}}" class="fa-solid fa-youtube fa-fw"></a></li>
                            {% endif %}
                         </ul>
                         <!-- End Social Box -->
                      </div>
                   </div>
                </div>
             </div>
             <!-- Big Column -->
             <div class="big-column col-lg-6 col-md-12 col-sm-12">
                <div class="row clearfix">
                   <!-- Footer Column -->
                   <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                      <div class="footer-widget contact-widget">
                         <h4>Свяжитесь:</h4>
                         <ul class="contact-list">
                            <li><span class="icon fa fa-phone"></span> {{setting.phone}}</li>
                            <li><span class="icon fa fa-envelope"></span> {{setting.email}}5</li>
                         </ul>
                         <div class="timing">
                            <strong>Мы открыты: </strong>
                            {{setting.graphic}}<br>{{setting.graphic_clock}}
                         </div>
                      </div>
                   </div>
                   <!-- Footer Column -->
                   <div class="col-lg-6 mt-5 mt-lg-0">
                     <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.5443684419747!2d72.79158066215403!3d40.529560897211844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdac1005a14c77%3A0xba1873075c4f7d54!2z0JDRgdCw0YQg0LjQsdC9INCR0YPRgNGF0LjRjyDQutCw0LHRi9GA0Ys!5e0!3m2!1sru!2skg!4v1682578976801!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                      </div>
                 </div>
                </div>
             </div>
          </div>
       </div>
       <div class="footer-bottom">
          <div class="copyright">2023 &copy;  Все права защищены <a href="https://www.instagram.com/erk1nbaew/">Nurbolot Erk1nbaew</a></div>
       </div>
    </div>
 </footer>